<article class="posts min-height">
  <% page.posts.each( function ( post ) { %>
  <section class="post">
    <h3 class="post-title"><a href="<%- url_for(post.path) %>" class="post-title-link" title="<%= post.title %>"><%= post.title %></a></h3>
    <div class="post-excerpt"><%- post.excerpt %></div>
    <a href="<%- url_for(post.path) %>" class="post-more" title="阅读全文">阅读全文 »</a>
    <p class="post-meta">
      <% post.categories.data.forEach( function ( categorie ) { %>
      <a href="<%- url_for( categorie.path ) %>" title="<%= categorie.name %>" class="post-categories"><%= categorie.name %></a>
      <% } ) %>
      <% post.tags.data.forEach( function ( tag ) { %>
      <a href="<%- url_for( tag.path ) %>"" title="<%= tag.name %>" class="post-tags"><i class="post-tags-icon iconfont icon-biaoqian"></i><%= tag.name %></a>
      <% } ) %>
      <span class="post-time"><%- date(post.date, 'YYYY-MM-DD') %></span>
    </p>
  </section>
  <% } ) %>
</article>

<%- partial( "./_partial/_paginator.ejs" ) %>
